<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
</head>
    <body>
    <header th:replace="fragments/header"></header>
    <main class="container" style="text-align: center">
        <div class="">
            <form method="get">

            </form>
            <div class="btn-group">
                <a type="button" class="btn btn-primary" onclick="window.location.href = './community/write'">Write</a>
                <form method="get">
                    <select>
                        <option>Title</option>
                        <option>Content</option>
                        <option>Title or Content</option>
                        <option>Writer</option>
                    </select>
                    <input>
                </form>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Writer</th>
                <th>Title</th>
                <th>Comment</th>
                <th>Like</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boardList : ${boardList}">
                <td></td>
                <td th:text="${boardList.community_category}"></td>
                <td th:text="${boardList.community_member_id}"></td>
                <td th:text="${boardList.community_title}">
                </td>
                <td th:text="${boardList.community_member_id}"></td>
                <td th:text="${boardList.community_member_id}"></td>
                <td th:text="${boardList.community_date}"></td>
            </tr>
            </tbody>
        </table>
    </main>
        <div th:replace="fragments/footer"></div>
    </body>


</html>