<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head"><head>
    <body>
        <header th:replace="fragments/header"></header>
        <main class="container">
            <div class="mb-3 p-3 d-flex justify-content-between border-bottom ">
                <a class="text-decoration-none link-dark" href="/community">
                    <h2 class="text-start pb-2 mb-0">Community</h2>
                </a>
            </div>
            <div class="d-flex justify-content-between">
                <div th:replace="fragments/boardList/sidebar"></div>
                <div class="mx-auto content-area" style="width: 75%;">
                    <form method="post" id="formSubmit" action="/community/write">
                        <div class="d-flex justify-content-start mb-3 title-area" >
                            <select name="community_category" class="me-3" required>
                                <option value="#">Category</option>
                                <option value="Song">Song</option>
                                <option value="Q&A">Q&A</option>
                                <option value="etc">etc</option>
                            </select>
                            <input type="text" name="community_title"placeholder="Type the title" required>
                        </div>
                        <div>
                            <textarea class="smartEditorArea" name="community_content" id="community_content" rows="20"></textarea>
                        </div>
                        <div id="uploadTrack">
                            <div class="my-3 align-middle">
                                <h5>Track upload</h5>
                                <div class="border-top">
                                    <div class="my-3 d-flex justify-content-start">
                                        <input type="file" name="community_track" id="community_track" accept=".wav, .mp3, .flac">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5 btn-group d-flex justify-content-end">
                            <button class="me-3 btn-tyrian submit-round" onclick="checkValue(this)">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footer"></div>
    </body>
    <script type="text/javascript">
        var oEditors = [];
        var sLang = "en_US";

        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "community_content",
            sSkinURI: "../resources/se2/SmartEditor2Skin_en_US.html",
            fCreator: "createSEditor2",
            htParams : {
                bUseModeChanger : true,
                I18N_LOCALE : sLang,
                fOnBeforeUnload : function(){}
            },

            fOnAppLoad : function (){
                oEditors.getById["community_content"].exec("PASTE_HTML", ["If you want to post a SoundCloud link, use HTML mode and paste iFrame tag."]);
            }
        });

        function checkValue(elClickedObj){
            oEditors.getById["community_content"].exec("UPDATE_CONTENTS_FIELD", []);

            document.getElementById('formSubmit').onsubmit
        }

        function openTrackContainer(){

            var categoryType = document.getElementById('uploadTrack')

        }


    </script>
</html>