<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="searchBar" class="navbar navbar-expand-lg navbar-dark border">
    <div class="container">
        <nav class="d-flex">
            <ul class="nav d-flex justify-content-start">
                <li class="me-5">
                    <a class="d-block link-dark text-decoration-none dropdown-toggle">Genre</a>
                    <div>

                    </div>
                </li>
                <li>
                    <a class="d-block link-dark text-decoration-none dropdown-toggle">Seller</a>
                    <div>

                    </div>
                </li>
            </ul>
            <div class="d-flex flex-row-reverse">
                <form>
                    <input>
                </form>
            </div>
        </nav>
    </div>
</nav>