<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header class="pt-3 text-dark" th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img th:src="@{/image/structure/mainLogo.png}" width="200" height="100">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-1">
                <li><a href="/sounds" class="nav-link px-2 text-tyrian">Sounds</a></li>
                <li><a href="/plugins" class="nav-link px-2 text-tyrian">Plugins</a></li>
                <li><a href="/competition" class="nav-link px-2 text-tyrian">Competition</a></li>
                <li><a href="/community" class="nav-link px-2 text-tyrian">Community</a></li>
                <li><a href="/service" class="nav-link px-2 text-tyrian">Help & Contact</a></li>
            </ul>

            <div class="text-end mb-md-1">
                <button th:if="${session['user'] == null}" type="button" class="btn btn-warning" onclick="location.href='/login'">Login</button>
                <button th:if="${session['user'] == null}"  type="button" class="btn btn-tyrian" onclick="location.href='/signup'">Sign-up</button>
                <div th:if="${session['user'] != null}" class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:if="${session.user.getMember_image() != null}" src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        <i th:if="${session.user.getMember_image() == null}" class="far fa-user rounded-circle" alt="mdo" width="32" height="32"></i>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        <li><a class="dropdown-item" href="/mypage">My Page</a></li>
                        <li><a class="dropdown-item" href="setting">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

