<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="searchBar" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Song</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Etc</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Search</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown07">
                        <li><a class="dropdown-item" href="#">Latest</a></li>
                        <li><a class="dropdown-item" href="#">Most Viewed</a></li>
                        <li><a class="dropdown-item" href="#">Most Liked</a></li>
                    </ul>
                </li>
            </ul>
            <form method="get" placeholder="Select search option">
                <select>
                    <option>Title</option>
                    <option>Content</option>
                    <option>Title or Content</option>
                    <option>Writer</option>
                </select>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>