<!DOCTYPE html>
    <head th:replace="fragments/head"></head>
    <body>
        <header th:replace="fragments/header"></header>
        <main class="container">
            <div class="overflow-hidden">
                <img src="../image/structure/photo-of-man-playing-music-2802811.jpeg" height="640" width="1476"/>
            </div>
            <div>
                <h3 class="border-bottom my-5 text-start">New sounds</h3>
            </div>
            <div>
                <h3 class="border-bottom my-5 text-start">Plugins</h3>
            </div>
        </main>
        <footer th:replace="fragments/footer"></footer>
    </body>
</html>