<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="communitySidebar" class="d-flex flex-column flex-shrink-0 p-3 sidebar-color" style="width: 250px;">
    <span class="fs-4">Categories</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link link-light">All</a>
        </li>
        <li>
            <a href="#" class="nav-link link-light">Song</a>
        </li>
        <li>
            <a href="#" class="nav-link link-light">Q&A</a>
        </li>
        <li>
            <a href="#" class="nav-link link-light">Etc</a>
        </li>
    </ul>
</div>